/*colors used:
primary colors: (black) #04080F  (white) #F4F7F5
secondary colors:  (blue) #032AB6 or (blue/green) #19647E
                  (dark grey) #757575  (light grey)  #DCDCDC
*/

/*Typography*/
/*Font weights:
  Bitter  400px & 700px (bold)
  Open Sans  300(thin) 400 (reg) 600 (semi-bold) 700 (bold) 800 (heavy)
  */
  /* Layout styling-general*/

*{
  box-sizing: border-box;
}

/*Typography*/
body {
  font-family: open sans, sans-serif;
  font-size: 18px; /* Sets the font size to 18px*/
  font-weight: 400;
  line-height: 1.125em;
  color: #04080F;
  background-color: #F4F7F5;
}

h1, h2, h3 {
  font-family: bitter, serif;
  font-weight: 400;
  line-height: 1.125em;
  color: #04080F;
}
h1 {
  font-size: 1.953em;
  font-weight: 400;
}
h2{
  font-size: 1.25em;
  font-weight: 400;
}
h3{
  font-size: 1em;
  font-weight: 700;
}
img{
  width: 100%;
}
a{
  color: #04080F;
  text-decoration: none;
}
a:hover,
a:focus{
  color: #032AB6;
  text-decoration: underline;
}
a:active{
  text-decoration: underline;
}

/*buttons*/
.button {
  display: inline-block;
  background-color:#032AB6;
  color: #F4F7F5;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #F4F7F5;
  transition: 0.1s;
}
.button:hover {
  opacity: 0.8;
  color: #F4F7F5;
  text-decoration: none;
}
.button:active{
  background-color: #032AB6;
  color: #F4F7F5;
  text-decoration: none;
}

/*layout styling*/
.container{
  padding: 0 15px;
}
